*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.6rem;
    border-bottom: 2px solid black;
}
nav span{
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    background: grey;
}

body {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: #797978;
    
}

.container{
    /* width: 575px;
    height: 825px; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}
#weightguide{
    margin-top: 40px;
    margin-left: 120px;
    align-items: center;
    justify-content: center;
}
#weightguide h3{
     align-items: center;
     margin-left: 20px;
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  
}
